.MuiTableCell-root {
  background-color: rgb(235, 154, 235, 0.1);
  border: 0.1rem dotted rgb(129, 191, 219);
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  user-select: none;
}
.MuiTableCell-root:hover {
  background-color: rgb(178, 145, 231, 0.3);
}
.MuiTableCell-root.active {
  color: red;
  box-shadow: 0px 0px 10px rgba(224, 68, 89, 0.5);
}
.MuiTableCell-root.bingo {
  color: rgb(49, 228, 49) !important;
  box-shadow: 0px 0px 10px rgb(50, 202, 63, 0.5);
}
body {
  overflow: 'scroll-y';
  background-color: rgb(203, 243, 243);
}
.MuiTableContainer-root {
  overflow: auto;
}
.reward {
  font-size: 4rem;
}
@media screen and (max-width: 600px) {
  .MuiTableCell-root {
    font-size: 0.5rem;
    padding: 0.2rem;
    margin: 0.2rem;
  }
  .MuiTypography-root {
    font-size: 0.5rem;
  }
}
